<div id="<%= dom_id opinion_column %>">
  <p>
    <strong>Title:</strong>
    <%= opinion_column.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= opinion_column.content %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= opinion_column.author_name %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= opinion_column.publish_date %>
  </p>

  <p>
    <strong>Podcast episode:</strong>
    <%= opinion_column.podcast_episode_id %>
  </p>

</div>
