<p style="color: green"><%= notice %></p>

<%= render @opinion_column %>

<div>
  <%= link_to "Edit this opinion column", edit_podcast_episode_opinion_column_path(@opinion_column) %> |
  <%= link_to "Back to opinion columns", opinion_columns_path %>

  <%= button_to "Destroy this opinion column", @opinion_column, method: :delete %>
</div>
