<div id="<%= dom_id podcast_episode %>">
  <p>
    <strong>Title:</strong>
    <%= podcast_episode.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= podcast_episode.description %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= podcast_episode.publish_date %>
  </p>

  <p>
    <strong>Episode url:</strong>
    <%= podcast_episode.episode_url %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= podcast_episode.duration %>
  </p>

  <p>
    <strong>Show notes:</strong>
    <%= podcast_episode.show_notes %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= podcast_episode.tags %>
  </p>

</div>
